/config/google.local.php
/vendor/
/.env
/includes/config/mail.php
/includes/config/services.local.php
/includes/mail/vendor/
/includes/stripe/vendor/
/logs/*.log
/uploads/portal-estudiante/**
!/uploads/portal-estudiante/**/index.html
